@import "../../style.scss";

.home {
  @include themify($themes) {
    min-height: 100vh;
    background-color: themed(bgSoft);
    color: themed(text);
    @include sm {
      width: 100%;
    }
    .home-container {
      padding: 1rem 3rem;
      @include display-flex(flex-start, center, column, 2rem);
      @include sm {
        padding: 0.5rem;
        max-width: 100%;
      }
    }
  }
}
